.encrypted-data
  display: flex
  margin-top: 1rem
  .key,
  .value
    padding: 1rem
    border: 1px solid camel()
    braduis()
    flex: 1
  .key
    margin-right: 0.5rem
  .value
    flex: 12
    font-size: 0.8rem