.sbmt-btn
  font-family: 'Shabnam', Tahoma
  overflow hidden
  cursor pointer
  white-space nowrap
  position relative
  display inline-block
  min-height 2.5rem
  min-width 3rem
  outline none
  color #fff
  line-height: 2.2
  text-decoration none
  z-index 1
  text-shadow 0 0 1px rgba(255,255,255,0.3)
  text-align: center
  font-size 0.9rem
  box-shadow: 0 0 10px 1px #eee
  margin-left: 1rem
  &:after
    content ""
    position absolute
    z-index -1
    display block
    top 0
    bottom 0
    left -100%
    right 100%
    transition all 0.25s
  &:hover
    &:after
      left 0
      right 0
      top 0
      bottom 0
      background-color: white

.last-child
  margin-left: 0
  border-top-right-radius: 0.5rem
  border-bottom-right-radius: 0.5rem

.no-margin-left
  margin-left: 0

.i-rod
  background-color goldenrod
  border 1px solid goldenrod
  color: white
  &:hover
    color: goldenrod