.section-wrapper
  margin: 2rem 1.5rem
  border-radius: 0.6rem
  border: 1px solid darken(darkSkyBlue(), 60%)
  bshadow()
  .section-title
    background-color: darken(darkSkyBlue(), 60%)
    color: Snow
    padding: 0.7rem 1rem
    margin-bottom: 1rem
    border-top-left-radius: 0.6rem
    border-top-right-radius: 0.6rem
  section
    padding: 1rem


.papullate-section
  display: flex
  min-height: 5rem
  margin-bottom: 1rem
  justify-content: center
  align-items: center
  border-bottom: 1px solid darken(darkSkyBlue(), 60%)
  
  
.btn-all-center
  display flex
  align-items: center
  p
    margin-left: 0.4rem


.inp-section-wrapper
  .inp-lead
    margin-top: 1.5rem
    font-size: 1.2rem
