
midnight()
  rgba(22, 27, 108, arguments)

brightText()
  rgb(255, 254, 249, arguments)

darkSkyBlue()
  rgb(70, 145, 216, arguments)

camel()
  rgb(211, 166, 65, arguments)

braduis()
  border-radius: 0.6rem

bshadow()
  box-shadow: 0px 0px 10px 1px darken(darkSkyBlue(0.6), 60%)